* {
 box-sizing: border-box;
 margin: 0;
}

body{
    font-family: "Montserrat", sans-serif;
}

/*  Navigation  */

/* Datos para el scroll down con JS
    height: 100px;
    background: #FFFFFA;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(100px);
*/

.nav-container {
    height: 100px;
    background:#F2F7FFB2;
    position: sticky;
    top: 0;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav ul {
    display: flex;
}

nav .logo {
    width: 39px;
    height: 47px;
    left: 0px;
    top: 3px;
    margin-top: 25px;
}

.nav-items li{
    list-style: none;
    margin-right: 50px;
    margin-top: 25px;
}

.social-icons li{
    list-style: none;
    margin-right: 20px;
    margin-top: 25px;
}

.nav-items li a{
    color: #60269E;
    font-size: 24px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

/*  Header  */
.header-container {
    background-position: right;
    background: #F2F7FFB2 url("images/bg-header.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
   
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 75px;
}

header h1 {
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    font-size: 64px;
    color: #18191F;
    margin-bottom: 44px;
}

header p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 36px;
    /* or 111% */
    color: #18191F;
    margin-bottom: 44px;
}

/* Nosotrxs Container*/
.nosotrxs-container {
    display: flex;
    align-items: center;
}

.texto-img {
    margin-top: 75px;
    display: flex;
    align-items: center;
}

.texto-img h1 {
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #000000;
    margin-bottom: 32px;
}

.texto-img p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    /* or 111% */
    color: #000000;
    margin-bottom: 44px;
}

.banana-image{
    margin-left: 200px;
}

.cta h2{
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height, or 133% */
    color: #A66FE0;
}
 /*  Banner  */
.banner-division {
    display: flex;
    align-items: center;
}

.banner-division img{
    margin-left: 120px;
}

/*  descubrir  */
.descubrir-container{
    margin-top: 100px;
    margin-bottom: 100px;
}

.Titulo-Seccion{
    display: flex;
    align-items: center;
    margin-left: 300px;
    margin-bottom: 50px;
}

.topics{
    display: flex;
    align-items: center;
}

.topic-conse{
    display:flex;
    align-items: center;
    margin-top: 50px;
}

.topic-conse h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    /* or 111% */
    color: #000000;
    margin-left: 60px;
    margin-bottom: 25px;
}

.topic-conse p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    /* or 111% */
    color: #000000;
    margin-left: 60px;
}

.topic-conse img{
    margin-left: 60px;
}

/* precios */

.precios-title{
    margin-left: 380px;
    margin-bottom: 100px;
}